/*COMMON*/
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;

}
a {
  text-decoration: none;
}

img {
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}

/*INNER*/
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;


}
.inner .logo{

}
.input_area{

position:relative;
}
.input_area > .select_btn{
border:none;
outline:none;
width:50px;
height:50px;
border-radius:50%;
position:absolute;
bottom:0;


}

/*BUTTON
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #FFF;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

/*BACK TO POSITION
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}


/*HEADER*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;

}
header > .inner {
  height: 140px;
}
header .logo {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  list-style:none;
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  padding: 11px 16px;
  display: block;
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  position: relative;
  height: 34px;
  cursor:pointer;
}
header .sub-menu .search input {
  width: 36px;
  height: inherit;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  list-style:none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2C2A29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 22px;
  color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  /*background-image: url("../imageges/main_menu_pattern.jpg");*/
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #64a70b;
  margin: 4px 0 14px;
}
/*SELECT */
main{
    margin:0 auto;
}
main .status{
position:absolute;
left:50%;
top:50%;
transform:translateX(-50%);
transform:translateY(-50%);
font-size:10rem;
color:gray;
}
main .selectForm{
    display:flex;
    position:relative;
    z-index:2;


}
main .selectForm .selectDong{
    width:50%;
    position:absolute;
    left:-100%;
    transition:1s;


}
main .selectForm .selectApart{
    width:50%;
    position:absolute;
    left:120%;
    transition:1s;

}
main .selectForm .selectDeal{
    width:50%;
    position:absolute;
    left:20%;
    transition:1s;
    border:1px solid black;

}
main .selectForm .selectDong.display{
    left:20%;
    transition:1s;

}

main .selectForm .selectApart.display{
    left:20%;
    transition:1s;
}

main .selectForm .selectDeal.display{
    left:20%;
    transition:1s;
}

main table td div.dong{
    cursor:pointer;
}
main table td div.dong:hover{
    color:red;
}
main table td div.dong.selected{
    background:yellow;
    border-radius:4px;
    border:1px solid green;
}

main .goNext{
    position:fixed;
    top:50%;
    width:100%;
    display:flex;
    z-index:0;
}

main .goNext .leftArrow{
    width:100%;
}
main .goNext .leftArrow img{
    margin-left:15%;


}
main .goNext .rightArrow{
    width:100%;
}
main .goNext .rightArrow img{
    margin-left:85%;
}